<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="MainFlow.css">
</head>
<body>
    <header>
<div class="cabecalho">
<img class="logo-header" src="imgs/Logo-Header.png" alt="Logo cabeçalho">
<p>Integração entre sistemas</p>
<img class="logo-controller" src="imgs/logo_corrigida.svg" alt="">
</div>
    </header>
<section class="Card-login" >

    <div class="Login">
        <p>Entre com a conta do Leankeep</p>
<div class="Usuario">
    <label for="login">Login:</label>
    <input type="text" id="usuario" placeholder="Digite seu usuario Leankeep">
    </div>
<div class="senha">
    <label for="senha">Senha:</label>
<input type="password" id="senha" placeholder="Digite sua senha">
</div>
<nav class="botao-entrar">
    <a href="Ocorrencia.html">Entrar</a>
    </nav>

</div>
 
</section>
 <footer>
        <div class="rodape">
            <p>Projeto desenvolvido pela equipe Maternidade S.Luiz Star</p>
            <p>©2026</p>
            
        </div>
        <img class="logo-rodape" src="imgs/LOGO CONTROLLER.png" alt="">
    </footer>



</body>
</html>