<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainFlow</title>
    <link rel="stylesheet" href="../Layout/MainFlow.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
<div class="cabecalho">
<img class="logo-header" src="imgs/Logo-Header.png" alt="Logo cabeçalho">
<p>Integração entre sistemas</p>
<img class="logo-controller" src="imgs/logo_corrigida.svg" alt="">
</div>
    </header>
    <section>
        <div class="descricao">
            <img class="logo-central" src="imgs/Logo-Central.png" alt="">
        <p class="descricao1">Interface de integração entre Leankeep e o Planner da Microsoft</p>
        <p>Ao criar uma ocorrência no LeanKeep, um cartão será criado automaticamente no Kanban.</p>
        <h3 class="Titulo_fluxo">Fluxo de Funcionamento</h3>
      
        <img class="Fluxo" src="imgs/Fluxo.png" alt="Fluxo de Funcionamento">

        <nav class="botao">
    <a href="login.html">Criar Ocorrência</a>
    </nav>
</div>
    </section>
    <footer>
        <div class="rodape">
            <p>Projeto desenvolvido pela equipe Maternidade S.Luiz Star</p>
            <p>©2026</p>
            
        </div>
        <img class="logo-rodape" src="imgs/LOGO CONTROLLER.png" alt="">
    </footer>



</body>
</html>