<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Ocorrência</title>
    <link rel="stylesheet" href="MainFlow.css">
</head>
<body>
     <header>
<div class="cabecalho">
<img class="logo-header" src="imgs/Logo-Header.png" alt="Logo cabeçalho">
<p>Integração entre sistemas</p>
<img class="logo-controller" src="imgs/logo_corrigida.svg" alt="">
</div>
    </header>



<section>
    <div class="card-ocorrencia">
    <div class="grupo1">
<P>Crie Sua Ocorrência</P>
<div class="seletores">
    <div class="seletor1">
    <label for="Equipamento">Equipamento</label>
<select name="Equipamento" id="Equipamento">
                        <option Selected disabled>Selecione um Equipamento</option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>

</select>
</div>
<div class="seletor2">
<label for="Tipo">Tipo de Ocorrência</label>
<select name="tipo" id="TIPO">
                        <option Selected disabled>Selecione um Tipo de ocorrência</option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>

</select>
</div>
</div>

<div class="Descricao">
                    <label for="mensagem">Descreva a ocorrência</label>
                    <textarea id="mensagem" rows="4" placeholder="Digite a descrição da Ocorrência..."></textarea>
                    <!---rows -- Quantidade de linhas visíveis na caixa de texto -->
                </div>

<nav class="botao">
    <a href="login.html">Criar Ocorrência</a>
    </nav>

</div>
</div>
</section>
 <footer>
        <div class="rodape">
            <p>Projeto desenvolvido pela equipe Maternidade S.Luiz Star</p>
            <p>©2026</p>
            
        </div>
        <img class="logo-rodape" src="imgs/LOGO CONTROLLER.png" alt="">
    </footer>
    
</body>
</html>