<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Criar Ocorrência</title>

    <link rel="stylesheet" href="MainFlow.css">
</head>

<body>
    <div class="tela-ocorrencia">
        <section class="banner">
            <div class="banner-esquerda">
                <img src="imgs/Logo-Central.png" class="centro">
                <p class="txt1">Integração entre sistemas</p>
                <img src="imgs/Fluxo.png" alt="" class="fluxo">
                <p class="txt2">Mais eficiência para sua operação.</p>
        </section>
        <div class="card1">
            <section class="card-ocorrencia">
                <div class="txtH">
                    <h2>Criar Ocorrência</h2>
                    <p>Preencha os dados para registrar uma nova ocorrência</p>
                </div>

                <div class="seletores">
                    <!-- EQUIPAMENTO -->

                    <div class="seletor1">

                        <label for="Equipamento">
                            Equipamento
                        </label>

                        <select name="Equipamento" id="Equipamento">

                            <option selected disabled>
                                Selecione um Equipamento
                            </option>

                        </select>

                    </div>


                    <!-- TIPO DE OCORRÊNCIA -->

                    <div class="seletor2">

                        <label for="TIPO">
                            Tipo de Ocorrência
                        </label>

                        <select name="tipo" id="TIPO">

                            <option value="" selected disabled>
                                Selecione um Tipo
                            </option>

                            <option value="23">
                                Melhoria
                            </option>

                            <option value="21">
                                Preventiva
                            </option>

                            <option value="14">
                                Anomalia Simples
                            </option>

                            <option value="13">
                                Anomalia Crítica
                            </option>

                            <option value="19">
                                Chamado
                            </option>

                        </select>

                    </div>

                </div>


                <!-- ================================================== -->
                <!-- DESCRIÇÃO -->
                <!-- ================================================== -->

                <div class="Descricao">

                    <label id="msg" for="mensagem">
                        Descreva a ocorrência
                    </label>

                    <textarea id="mensagem" rows="4" placeholder="Digite a descrição..."></textarea>

                </div>


                <!-- ================================================== -->
                <!-- BOTÃO -->
                <!-- ================================================== -->

                <nav class="botao">

                    <button type="button" id="criarOcorrencia">
                        Criar
                    </button>

                </nav>


                <!-- ================================================== -->
                <!-- MENSAGEM DE SUCESSO -->
                <!-- ================================================== -->

                <div id="mensagemSucesso" class="mensagem-sucesso"></div>

            </section>
        </div>
    </div>
    <script src="ocorrencia.js"></script>
</body>

</html>